/* CSS declarations go here */

li {
    color: darkblue;
    border-width: .1em;
    border-style: solid;
    border-color: mediumblue;
    border-radius: .5em;
    width: 20em;
    padding-left: .25em;
    margin-bottom: .25em;
}

ul {
    list-style-type: none;
}

.studentItem {
    font-size: 1.5em;
}
select {
    font-size: 1.2em;
}

.selected {
    background-color: lightblue;
}